@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Calistoga&display=swap');
:root{
    font-family:'Calistoga', cursive;
    --main-color:black;
}
body{
    max-width: 980px;
    margin: auto;
}
h1{
    font-family:'Bebas Neue', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
}
header nav .menu{
    display: flex;
    padding: 0;
    list-style: none;
    font-family:'Calistoga', cursive;
    justify-content: space-around;
    }
header nav .menu a{
    text-decoration: none;
    text-transform: uppercase;
    color:var(--main-color);
    border:1px solid transparent;
    padding: 5px;
}
header nav .menu a:hover{
    border: 1px solid var(--main-color);
}
footer .footer h1{
    font-family:'Bebas Neue', cursive;
    font-size: 5rem;
    text-align: center;
    margin: 1rem 0;
}
header .logoShyny{
    width: 100%;
}
main img{
    width: 100%;
}
main h3{
    text-align: center;
}
footer h1{
    text-align: center;
}
footer h4{
    text-align: center;
}
footer h6{
    text-align: center;
}
footer p {
    text-align: center;
}

@media(min-width:768px){
    header nav{
        display:flex;
        align-items: center;
    }
    header .menu{
        flex: 1;
    }
    header .banner h1{
        flex: 1;
        font-size: 5rem;
    }
    header .logoDunlop{
        display: block;
        margin: 0 auto;
        position: center;
        width:100%; 
    }
    header .logoShyny{
        display: block;
        position: center;
        margin: 0 auto;
        width:100%;  
    }


    footer .footer-contact{
        display: flex;
    }
    footer .fAdres{
        flex: 1;
        text-align: center;
    }
   
    footer .ftel{
        flex: 1;
        text-align: center;
    }
    footer .fGrafik{
        flex: 1;
        text-align: center;
    }
    footer .fEmail{
        flex: 1;
        text-align: center;
    }
    footer .social{
        display: block;
        background-color: grey;
        /*justify-content: center;*/
    }
    footer .social h6{
        text-align: center;
        font-size: 2rem;
    }
    footer .social img{
        width: 30px;
        height: 30px;
        margin-right: 15px;
        padding-left: 200px;
       justify-content: center;
    }
}