@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Calistoga&display=swap');
:root{
    font-family:'Calistoga', cursive;
    --main-color:black;
    scroll-behavior: smooth;
}
body{
    max-width: 980px;
    margin: auto;
}

h1{
    font-family:'Bebas Neue', cursive;
    font-size: 5rem;
    text-align: center;
    margin: 1rem 0;
}
header nav .menu{
    display: flex;
    padding: 0;
    list-style: none;
    font-family:'Calistoga', cursive;
    justify-content: space-around;
    }
header nav .menu a{
    text-decoration: none;
    text-transform: uppercase;
    color:var(--main-color);
    border:1px solid transparent;
    padding: 5px;
}
header nav .menu a:hover{
    border: 1px solid var(--main-color);
}
header .logoDunlop{
    width: 100%;
}
main table{
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: rgb(255, 255, 254);
    color: black;
    border: 10px solid rgb(10, 10, 10);
    border-radius: 20px;
    margin: auto; 
}
tr {
    font-size: 12px;
    padding: 10px;
}
td {
    background: #f18a03d7;
    padding: 10px;
}
footer .footer h1{
    font-family:'Bebas Neue', cursive;
    font-size: 5rem;
    text-align: center;
    margin: 1rem 0;
}
footer h1{
    text-align: center;
}
footer h4{
    text-align: center;
}
footer h6{
    text-align: center;
}
footer p {
    text-align: center;
}
.social{
    display: flex;
    background-color: grey;
    justify-content: center;
}
.social a{
    margin-right: 20px;
}
.social img{
    width: 30px;
    height: 30px;
}
.copy h6{
    text-align: center;
    font-size: 1rem;
    margin: auto;
    background-color: grey;
}
@media(min-width:768px){
 header nav{
    display:flex;
    align-items: center;
}
header .menu{
    flex: 1;
}
header .logoDunlop{
    display: block;
    margin: 0 auto;
    position: center;
    width: auto;
}
header .logoShyny{
    display: block;
    position: center;
    margin: 0 auto;
        
}
main table{
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: rgb(253, 253, 253);
    color: black;
    border: 16px solid rgb(5, 5, 5);
    border-radius: 20px;
    margin: auto; 
}
tr {
    font-size: 16px;
    padding: 10px;
}
td {
    background: rgb(240, 138, 4);
    padding: 10px;
}
footer .footer-contact{
    display: flex;
}
footer .fAdres{
    flex: 1;
    text-align: center;
}
   
footer .ftel{
    flex: 1;
    text-align: center;
}
footer .fGrafik{
    flex: 1;
    text-align: center;
}
footer .fEmail{
    flex: 1;
    text-align: center;
}
.social{
    display: flex;
    background-color: grey;
    justify-content: center;
}
.social a{
    margin-right: 20px;
}
.social img{
    width: 30px;
    height: 30px;
}
.copy h6{
    text-align: center;
    font-size: 1rem;
    margin: auto;
    background-color: grey;
}
}