@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Calistoga&display=swap');
:root{
    font-family:'Calistoga', cursive;
    --main-color:black ;
    scroll-behavior: smooth;
}
body{
    max-width: 980px;
    margin: auto;
    font-family:'Calistoga', cursive;
    color:black;
}

h1{
    font-family:'Bebas Neue', cursive;
    font-size: 3rem;
    text-align: center;
    margin: 1rem 0;
}
header nav .menu{
    display: flex;
    padding: 0;
    list-style: none;
    font-family:'Calistoga', cursive;
    justify-content: space-around;
    }
header nav .menu a{
    text-decoration: none;
    text-transform: uppercase;
    color:var(--main-color);
    border:1px solid transparent;
    padding: 5px;
}
header nav .menu a:hover{
    border: 1px solid var(--main-color);
}
header .logoDunlop{
    width: 100%;
}
main img{
    width: 100%;
}
main h2,h4,h5{
    display: flex;
    justify-content: center;
    text-align: center;
}
main p{
    text-align: center;
}
.form-group-name{
    text-align: center;
}
.form-group-tel{
    text-align: center;
}
.form-group{
text-align: center;
}
footer .footer h1{
    font-family:'Bebas Neue', cursive;
    font-size: 5rem;
    text-align: center;
    margin: 1rem 0;
}
footer h1{
    text-align: center;
}
footer h4{
    text-align: center;
}
footer h6{
    text-align: center;
}
footer p {
    text-align: center;
}
.social{
    display: flex;
    background-color: grey;
    justify-content: center;
}
.social a{
    margin-right: 20px;
}
.social img{
    width: 30px;
    height: 30px;
}
.copy h6{
    text-align: center;
    font-size: 1rem;
    margin: auto;
    background-color: grey;
}
@media(min-width:768px){
header nav{
    display:flex;
    align-items: center;
}
header .menu{
    flex: 1;
}
header .logoDunlop{
    display: block;
    margin: 0 auto;
    position: center;
    width: auto;
}
main h1{
    font-size: 5rem;
    display: flex;
    justify-content: center;
}
main img{
    width: 500px;
    height: 300px;
    display: block;
    margin: auto;
}
main h2,h4,h5{
    display: flex;
    justify-content: center;
}
.rem-lehkosp-disk p{
    justify-content: center;
}
footer .footer-contact{
    display: flex;
}
footer .fAdres{
    flex: 1;
    text-align: center;
}  
footer .ftel{
    flex: 1;
    text-align: center;
}
footer .fGrafik{
    flex: 1;
    text-align: center;
}
footer .fEmail{
    flex: 1;
    text-align: center;
}
.social{
    display: flex;
    background-color: grey;
    justify-content: center;
}
.social a{
    margin-right: 20px;
}
.social img{
    width: 30px;
    height: 30px;
}
.copy h6{
    text-align: center;
    font-size: 1rem;
    margin: auto;
    background-color: grey;
}
}